<div class="container-fluid container-full mx-auto py-3">
  <div class="row">
    <div class="col-auto mx-auto">
      <h2>On Sale</h2>
    </div>
  </div>
  <div class="row" *ngIf="(onSale$ | async) as onSale">
    <div class="col-12 text-center">
      <app-comic-list [comics]="onSale"></app-comic-list>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mx-auto">
      <h2>Your Favorites</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <app-comic-list
        *ngIf="(favorites$ | async) as favorites"
        [comics]="favorites"
      ></app-comic-list>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mx-auto">
      <h2 class="m-0">All Comics</h2>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-xs-12 col-xs-8 col-sm-6 col-md-4 col-lg-3 mx-auto">
      <app-search (search)="searchQuery = $event"></app-search>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3 mx-auto">
      <button class="btn btn-danger btn-block p-2" type="button" (click)="onAddComic()">
        <i class="fa fa-plus-circle"></i> Add
      </button>
    </div>
  </div>
  <div class="row" *ngIf="comics && comics.length > 0">
    <div class="col-12 text-center">
      <app-comic-list [comics]="comics | filterSearch: searchQuery"></app-comic-list>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-auto m-auto">
      <button
        class="btn btn-secondary"
        type="button"
        (click)="loadMore()"
        [disabled]="isLoadingMore"
      >
        <span class="mr-1" *ngIf="isLoadingMore"><app-spinner></app-spinner></span
        >{{ isLoadingMore ? 'Loading...' : 'Load more...' }}
      </button>
    </div>
  </div>
</div>
