<app-vertical-modal [show]="showModal">
  <h5 class="modal-title" header>Add new Comic</h5>
  <app-comic-form body></app-comic-form>
</app-vertical-modal>
<div class="container">
  <button class="btn btn-danger p-2" type="button" (click)="showModal = true">
    <i class="fa fa-plus-circle"></i> Add new
  </button>

  <app-product-list
    [title]="'All Comics'"
    *ngIf="(comics$ | async) as comics"
    [products]="comics | filterByCategory: comicCategory.AVAILABLE"
  ></app-product-list>
  <div class="row">
    <div class="btn-group btn-group-toggle mx-auto my-4 ">
      <label
        class="btn btn-outline-danger page-navigation"
        *ngFor="let i of pagesRange"
        [routerLink]="['/comics']"
        [queryParams]="{ page: i }"
        routerLinkActive="active"
      >
        <input type="checkbox" checked />
        {{ i }}
      </label>
    </div>
  </div>
</div>
