<div class="card">
  <div>
    <img
      class="card-img-top"
      [src]="product.thumbnail?.path + '.' + product.thumbnail?.extension"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <div class="container card-description" *ngIf="product.description; else noDescription">
      <p class="card-text">{{ product.description }}</p>
    </div>
    <ng-template #noDescription>
      <p class="card-text">No description available.</p>
    </ng-template>
    <footer class="card-footer" *ngIf="product.urls">
      <a [href]="product.urls[0]?.url" class="text-dark font-weight-bold">
        See on <img src="assets/imgs/MarvelLogo.svg" style="width: 2.5rem;" />'s website
      </a>
    </footer>
  </div>
</div>
