.on-sale-icon {
  position: absolute;
  width: 100px;
  right: -20px;
  top: -3px;
  transform: rotate(23deg);
}

.card {
  height: 280px;
  max-width: 240px;
  min-width: 190px;
  width: 100%;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 0.25rem;
  box-shadow: -3px 5px 8px 0px black;
}

.card-img-container {
  height: 190px;
  border-block-end: 1px solid black;
}

.card-img-container .card-img-top {
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.card:hover > .card-controls,
.card-controls:hover {
  margin-left: 0;
}

.card-controls {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: -140px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  transition: margin-left 0.25s ease;
}

.card-body {
  overflow: hidden;
}

.card .card-body .card-title {
  font-size: 16px;
}

.fa {
  transition: color 0.2s ease;
  cursor: pointer;
}

.fa-star {
  color: rgb(231, 201, 28);
}

.fa-dollar-active {
  color: rgb(48, 180, 21);
}
