.fa {
  cursor: pointer;
  background-image: initial;
}

.fa-star {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    ellipse farthest-corner at right bottom,
    #fedb37 0%,
    #fdb931 8%,
    #9f7928 30%,
    #c59628 40%,
    #fedb37 58%,
    #9f7928 75%,
    #fdb931 85%
  );
}

.fa-dollar-active {
  background-clip: text;
  background-image: radial-gradient(
    ellipse farthest-corner at right bottom,
    #8f0808 5%,
    #ee5858 20%,
    #d86868 45%,
    #8f0808 60%,
    #ee5858 75%
  );
}

.sale-icon {
  right: -27px;
  top: 13px;
  width: 110px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;

  text-align: center;
  line-height: 28px;
  font-size: 14px;
  font-weight: bolder;

  cursor: pointer;
  user-select: none;
}

.sale-icon.inactive {
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.3);
}

*:hover .sale-icon.inactive,
.sale-icon.inactive:hover {
  background-color: rgba(255, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.8);
}

.sale-icon.active {
  background-color: rgba(255, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}
