<nav class="navbar navbar-expand-sm navbar-light bg-light shadow-sm">
  <a class="navbar-brand" [routerLink]="['/home']">PComics</a>
  <button class="navbar-toggler" type="button" (click)="navbarCollapseToggle()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="navbarOpen">
    <ul class="navbar-nav mr-auto mt-1 mt-sm-0">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/home']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/comics']" routerLinkActive="active">Comics</a>
      </li>
    </ul>
  </div>
</nav>
